<form method="post" action="{{ path('app_manga_delete', {'id': manga.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ manga.id) }}">
    <button class="{{ button_class|default('btn btn-danger') }}">
        <i class="fas fa-trash-alt me-1"></i> Supprimer
    </button>
</form>